<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <!--Question Number (0 for example using configs)-->
      <add key="questionNumber" value="6"/>
      
      <!--USER DEFINED-->
      <!--FUNCTION PARAMETERS-->
      <add key="nIntegrationPoints"       value="5"/> <!--Between 1 and 10-->
      
      <add key="superiorIntegrationLimit" value="1"/>
      <add key="inferiorIntegrationLimit" value="0"/>
      
    </appSettings>
</configuration>